<section class="row container-fluid">
  <main class="col-sm-6 col-sm-offset-1">

    <header>Connect with all your friends!</header>

    <ul>
      <li>See photos and updates in your news feed.</li>
      <li>Post your status for the world to see from your profile.</li>
      <li>Get in touch with your friends by "friending" them.</li>
      <li>Like things because you're a positive person!</li>
    </ul>

  </main><!--

  --><div class="col-sm-4">

    <h1>Sign Up</h1>

    <%= form_for @user do |user_fields| %>
      <%= render partial: 'user_errors' %>

      <%= user_fields.label :email %>
      <%= user_fields.text_field :email %>
      <br>
      <%= user_fields.label :password %>
      <%= user_fields.password_field :password %>
      <br>
      <%= user_fields.label :password_confirmation %>
      <%= user_fields.password_field :password_confirmation %>
      <br>
      <%= user_fields.fields_for :profile, Profile.new do |profile_fields| %>
        <%= profile_fields.label :first_name %>
        <%= profile_fields.text_field :first_name %>
        <br>
        <%= profile_fields.label :last_name %>
        <%= profile_fields.text_field :last_name %>
        <br>
        <%= profile_fields.label :day %>
        <%= profile_fields.select :day, 1..31 %>

        <%= profile_fields.label :month %>
        <%= profile_fields.select :month, 1..12 %>

        <%= profile_fields.label :year %>
        <%= profile_fields.select :year, 1900..2000 %>
        <br>
        <%= profile_fields.label :gender %>
        Male
        <%= profile_fields.radio_button('gender', 'male') %>
        Female
        <%= profile_fields.radio_button('gender', 'female') %>
        <br>
      <% end %>
      <br>
      <%= user_fields.submit %>
    <% end %>

  </div>

</section>