<p><%= link_to 'User Profile', user_profile_path(@user) %></p>
<p><%= link_to 'User Posts', user_posts_path(@user) %></p>
<% @timeline.each do |timeline_post| %>
  <div style='border: 2px solid black'>
    <h4><%= timeline_post.user.profile.full_name %></h4>
    <div class='media'>
      <% if timeline_post.user.avatar.nil? %>
        <%= image_tag('user_silhouette_generic.gif') %>
      <% else %>
        <%= image_tag timeline_post.user.avatar.image.url(:thumb) %>
      <% end %>
    </div>
    <div class='media-body'>
      <%= timeline_post.body %><br>
      <% if timeline_post.likes.find_by_user_id(current_user.id).nil? %>
        <%= link_to "Like(#{timeline_post.likes.count})", user_post_likes_path(current_user, timeline_post), method: :post %>
      <% else %>
        <%= link_to "Unlike(#{timeline_post.likes.count})", user_post_like_path(current_user, timeline_post, Like.where(user_id: current_user.id, likeable_id: timeline_post.id, likeable_type: 'Post').first.id), method: :delete %>
      <% end %>
    </div>
  </div>
<% end %>