<%= link_to 'User Index', users_path %>

<% unless current_user == @user %>
  <% if current_user.friended_users.pluck(:id).include?(@user.id) %>
    <%= link_to "Unfriend #{@user.profile.first_name}", friending_path(@user), method: :delete %>
  <% else %>
    <%= link_to "Friend #{@user.profile.first_name}", friendings_path(id: @user.id), method: :post %> 
  <% end %>
<% end %>

<h3>Avatar placeholder</h3>
<%= image_tag @user.avatar.image.url(:thumb) %>
<br>
<h3>Cover photo placeholder</h3>
<%= image_tag @user.cover_photo.image.url(:thumb) %>
<br>
<!-- Friends box -->
<section class="row">
  <aside class='col-sm-4 col-sm-offset-1'>
    <header class="timeline-subpage-header">
      <div class="container-fluid">
        <p>Friends (<%= @user.friends.count %>)</p>
      </div>
    </header>

    <div class="container-fluid">
      <% @user.friends.each do |friend| %>
        <%= link_to "#{friend.profile.full_name}", user_posts_path(friend), class: 'col-sm-4' %>
      <% end %>
    </div>
  </aside>

  <div class='col-sm-6'>
    <% if current_user == @user %>
      <%= form_for [@user, @post] do |post_fields| %>
        <%= render partial: 'post_errors' %>

        <%= post_fields.label :body %>
        <%= post_fields.text_area :body %>

        <%= post_fields.submit %>
      <% end %>
    <% end %>

    <%= link_to 'Profile', user_profile_path(@user) %>
    <%= link_to 'Photos', user_photos_path(@user) %>

    <% @posts.each do |post| %>
      <div style='border: 2px solid black'>
        <div class='media'>
          <img class='media-object' src='/assets/images/user_silhouette_generic.gif'>
        </div>
        <div class='media-body'>
          <%= post.body %><br>
          <% if post.likes.find_by_user_id(current_user.id).nil? %>
            <%= link_to "Like(#{post.likes.count})", user_post_likes_path(current_user, post), method: :post %>
          <% else %>
            <%= link_to "Unlike(#{post.likes.count})", user_post_like_path(current_user, post, Like.where(user_id: current_user.id, likeable_id: post.id, likeable_type: 'Post').first.id), method: :delete %>
          <% end %>

          <% if current_user == @user %>
            <%= link_to 'Delete', user_post_path(@user, post), method: :delete %>
          <% end %>

          <% if current_user %>
            <%= form_for [current_user, post, post.comments.build] do |comment_fields| %>
              <%= comment_fields.label :body %>
              <%= comment_fields.text_area :body %>
              <%= comment_fields.hidden_field :commentable_id, value: post.id %>
              <%= comment_fields.hidden_field :commentable_type, value: 'Post' %>
              <%= comment_fields.submit %>
            <% end %>
          <% end %>

          <% post.comments.each do |comment| %>
            <p><%= comment.body %></p>
            <% if comment.author_id == current_user.id %>
              <%= link_to 'Delete', user_post_comment_path(current_user, post, comment), method: :delete %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>