<% if current_user == @user %>
  <div class='col-sm-6 col-sm-offset-3'>
    <%= form_for [@user, @post] do |post_fields| %>
      <%= render partial: 'post_errors' %>

      <%= post_fields.label :body %>
      <%= post_fields.text_area :body %>

      <%= post_fields.submit %>
    <% end %>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div class='col-sm-6 col-sm-offset-3' style='border: 2px solid black'>
    <%= post.body %><br>
    <% if current_user.liked_posts.include?(post) %>
      <%= link_to 'Unlike', user_post_post_liking_path(current_user, post, PostLiking.where(user_id: current_user.id, post_id: post.id).first.id), method: :delete %>
    <% else %>
      <%= link_to 'Like', user_post_post_likings_path(current_user, post), method: :post %>
    <% end %>

    <% if current_user == @user %>
      <%= link_to 'Delete Post', user_post_path(@user, post), method: :delete %>
    <% end %>
  </div>
<% end %>
<%= link_to 'Profile', user_profile_path(@user) %>