<div class='row'>
  <% if comment.author %>
    <p><%= comment.author.profile.full_name %>: <%= comment.body %></p>
  <% end %>

  <% if comment.likes.find_by_user_id(current_user.id).nil? && comment.author_id %>
    <%= link_to "Like(#{comment.likes.count})", user_post_comment_likes_path(current_user, post, comment), method: :post %>
  <% elsif comment.author_id %>
    <%= link_to "Unlike(#{comment.likes.count})", user_post_comment_like_path(current_user, post, comment, comment.likes.find_by_user_id(current_user.id)), method: :delete %>
  <% end %>

  <% if comment.author_id == current_user.id %>
    <%= link_to 'Delete', user_post_comment_path(current_user, post, comment), method: :delete %>
  <% end %>
</div>