<nav class="topnav navbar navbar-default col-sm-12">
  <div class="container-fluid">

    <!--Danebook logo -->
    <div class="logo-container">
      <img src="images/danish_flag.gif" class="navbar-brand pull-left">
      <a class="navbar-brand pull-left" href="<%= user_posts_path(current_user) %>" >Danebook</a>
    </div>

    <!-- Search bar and name -->
    <%= form_tag users_path, class: 'navbar-form navbar-right form-inline', role: 'search', method: 'get' do %>
      <div class='form-group'>
        <%= label_tag :query, "Find User" %>
        <%= text_field_tag :query, "", class: 'form-control' %>
        <%= submit_tag "Search" %>
      </div>
      <%= link_to "Logout", logout_path, :method => :delete %>
    <% end %>
  </div>

</nav>